{% extends 'base.html' %}
{% block title %}
    Cadastro de Clientes
{% endblock %}
{% block content %}
<form class="m-2 p-3" method="POST" action="{{url_for('cadCliente')}}"> <!--aqui o método POST indica que vc quer cadastrar, a action indica no arquivo __init__.py qual a função que será acionada: def cadPet.-->>
    <fieldset class="border p-4">
        <legend>Dados do Cliente</legend>
        <div class="row">
            <div class="m-2 col-2">
                <label for="codigoCliente" class="form-label">Código:</label>
                <input type="text" class="form-control" id="codigoCliente" name="codigoCliente" disabled/>
                <div id="codigoHelp" class="form-text">Valor gerado automaticamente pelo sistema.</div>
            </div>
        </div>
        <div class="row">
            <div class="m-2 col-8">
                <label for="nomeCliente" class="form-label">Nome do Cliente:</label>
                <input type="text" class="form-control" id="nomeCliente" name="nomeCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="rgCliente" class="form-label">Registro Geral (RG):</label>
                <input type="text" class="form-control" id="rgCliente" name="rgCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="cpfCliente" class="form-label">Código de Pessoa Física (CPF):</label>
                <input type="text" class="form-control" id="cpfCliente" name="cpfCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="dataNascCliente" class="form-label">Data de Nascimento:</label>
                <input type="date" id="dataNascPet" name="dataNascCliente"/>
            </div>
        </div>

        <div class="row">
            <div class="m-2 col-4">
                <label for="enderecoCliente" class="form-label">Endereço:</label>
                <input type="text" class="form-control" id="enderecoCliente" name="enderecoCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="numeroCliente" class="form-label">Número:</label>
                <input type="text" class="form-control" id="numeroCliente" name="numeroCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="compCliente" class="form-label">Complemento:</label>
                <input type="text" class="form-control" id="compCliente" name="compCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="bairroCliente" class="form-label">bairro:</label>
                <input type="text" class="form-control" id="bairroCliente" name="bairroCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="cepCliente" class="form-label">CEP:</label>
                <input type="text" class="form-control" id="cepCliente" name="cepCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="cidadeCliente" class="form-label">Cidade:</label>
                <input type="text" class="form-control" id="cidadeCliente" name="cidadeCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="ufCliente" class="form-label">UF:</label>
                <input type="text" class="form-control" id="ufCliente" name="ufCliente"/>
            </div>
        </div>
        
        <div class="row">
            <div class="m-2 col-4">
                <label for="foneFixoCliente" class="form-label">N° Telefone Fixo:</label>
                <input type="text" class="form-control" id="foneFixoCliente" name="foneFixoCliente"/>
            </div>
            <div class="m-2 col-4">
                <label for="foneCelularCliente" class="form-label">N° Celular:</label>
                <input type="text" class="form-control" id="foneCelularCliente" name="foneCelularCliente"/>
            </div>

        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="col-1">
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>    
        </div>
    </fieldset>
    <fieldset>
        
    </fieldset>
</form>
<div>
    {% for mensagem in get_flashed_messages() %}
    <p class="alert alert-danger">{{mensagem}}</p>
    {% endfor %}
  </div>  
{% endblock %}