{% extends 'base.html' %}

{% block title %}
    Cadastro de Produtos
{% endblock %}

{% block content %}
<form class="m-2 p-3">
    <fieldset class="border p-4">
        <legend>Dados do Produto</legend>
        <div class="row">
            <div class="m-2 col-2">
                <label for="codigoCliente" class="form-label">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" disabled/>
                <div id="codigoHelp" class="form-text">Valor gerado automaticamente pelo sistema.</div>
            </div>
        </div>
        <div class="row">
            <div class="m-2 col-8">
                <label for="nomeProduto" class="form-label">Nome do Produto:</label>
                <input type="text" class="form-control" id="nomeProduto" name="nomeProduto"/>
            </div>
            <div class="m-2 col-8">
                <label for="descProduto" class="form-label">Descrição do Produto:</label>
                <input type="text" class="form-control" id="descProduto" name="descProduto"/>
            </div>
            <div class="m-2 col-4">
                <label for="quantidade" class="form-label">Quantidade:</label>
                <input type="text" class="form-control" id="quantidade" name="quantidade"/>
            </div>
            <div class="m-2 col-4">
                <label for="fornecedor" class="form-label">Fornecedor:</label>
                <input type="text" class="form-control" id="fornecedor" name="fornecedor"/>
            </div>
        </div>

        <div class="row">
            <div class="col-1 offset-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="col-1">
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>    
        </div>
    </fieldset>
</form>
{% endblock %}