{% extends 'base.html' %}

{% block title %}
    Cadastro de Clientes
{% endblock %}

{% block content %}
<form class="m-2 p-3">
    <fieldset class="border p-4">
        <legend>Dados do Cliente</legend>
        <div class="row">
            <div class="m-2 col-2">
                <label for="codigoCliente" class="form-label">Código:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" disabled/>
                <div id="codigoHelp" class="form-text">Valor gerado automaticamente pelo sistema.</div>
            </div>
        </div>
        <div class="row">
            <div class="m-2 col-8">
                <label for="nomeCliente" class="form-label">Nome do Cliente:</label>
                <input type="text" class="form-control" id="nomePet" name="nomePet"/>
            </div>
            <div class="m-2 col-4">
                <label for="especiePet" class="form-label">Espécie:</label>
                <input type="text" class="form-control" id="especiePet" name="especiePet"/>
                <div id="codigoHelp" class="form-text">Exemplo: Canino, Felino, Bovino, etc.</div>
            </div>
        </div>
        <div class="row">
            <div class="m-2 col-4">
                <label for="racaPet" class="form-label">Raça:</label>
                <input type="text" class="form-control" id="racaPet" name="racaPet"/>
            </div>
            <div class="m-2 col-4">
                <label for="corPet" class="form-label">Cor:</label>
                <input type="text" class="form-control" id="corPet" name="corPet"/>
            </div>
            <div class="m-2 col-4">
                <label for="dataNascCliente" class="form-label">Data de Nascimento:</label>
                <input type="date" class="form-control" id="dataNascPet" name="dataNascCliente"/>
            </div>
        </div>
        
        <div class="row">
            <div class="m-2 col-4">
                <label for="microchipPet" class="form-label">N° Microchip:</label>
                <input type="text" class="form-control" id="microchipPet" name="microchipPet"/>
            </div>
            <div class="m-2 col-4">
                <label for="rgCliente" class="form-label">Registro Geral (RG):</label>
                <input type="text" class="form-control" id="rgCliente" name="rgCliente"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            <div class="col-1">
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>    
        </div>
    </fieldset>
</form>
{% endblock %}